{
  "all": true,
  "temp-dir": "./target/.nyc_output",
  "report-dir": "./target/coverage",
  "include": [
    "target/src/**/*.js"
  ],
  "exclude-after-remap": false,
  "reporter": [
    "lcov",
    "cobertura",
    "text-summary"
  ]
}
